[submodule "dataproc-initialization-actions"]
	path = dataproc-initialization-actions
	url = https://github.com/GoogleCloudPlatform/dataproc-initialization-actions.git
[submodule "analysis-figures"]
	path = analysis-figures
	url = keybase://team/gridwatch/analysis-figures
